<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spotz.gen"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"    />
    
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
	
	<uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        
         <!-- SearchableActivity -->
        <activity android:name="com.spotz.SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        
        <!-- LoginActivity -->
        <activity
            android:name="com.spotz.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="false"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- RegisterActivity -->
        <activity
            android:name="com.spotz.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- MainActivity -->
        <activity
            android:theme="@style/AppTheme"
            android:name="com.spotz.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >

            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.example.androidhive.SearchableActivity" />
        </activity>
        
		<!-- CameraActivity -->
        <activity
            android:name="com.spotz.CameraActivity"
            android:launchMode="singleTask" >
        </activity>
        
		<!-- VideoActivity -->
        <activity
            android:name="com.spotz.camera.VideoActivity"
            android:launchMode="singleTask" >
        </activity>
		
        
        <!-- UserSettingsActivity -->
        <activity android:name="com.spotz.users.UserSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spotz.MainActivity" />
        </activity>
        
        <!-- NewsActivity -->
        <activity android:name="com.spotz.NewsActivity" >

            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.example.androidhive.SearchableActivity" />
        </activity>

        
        <!-- Profile Activity -->
        <activity android:name="com.spotz.ProfileActivity" >

            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.example.androidhive.SearchableActivity" />
        </activity>

        
        <!-- Spot Activity -->
        <activity android:name="com.spotz.SpotActivity" >

            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.example.androidhive.SpotActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spotz.MainActivity" />
        </activity>
        
        
        <activity android:name="com.spotz.LoadingActivity" />
        <activity android:name="com.spotz.UploadSpotActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spotz.CameraActivity" />
        </activity>
        <activity
            android:name="com.spotz.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.spotz.services.UploadMediaService" />
        <service android:name="com.spotz.services.LoginService" />
        <service android:name="com.spotz.services.UploadProfilePicService" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA9RzTH-oHSXG77UZ_FkNBRZloipMOGmxg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="6171000" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".AndroidVideoCapture"
            android:label="@string/title_activity_android_video_capture" >
        </activity>
    </application>

</manifest>